@model WebApplication1.Models.TblVenta
@{
    ViewBag.Title = "Agregar Venta";
    List<SelectListItem> listadoPaciente = ViewBag.listadoPaciente;
}

<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("AddVenta", "Venta", FormMethod.Post, new { role = "form", @class = "" }))
{
    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.Serie)
        @Html.TextBoxFor(m => m.Serie, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Serie, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.Numero)
        @Html.TextBoxFor(m => m.Numero, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Numero, "", new { @class = "text-danger" })
    </div>

    <label>Paciente:</label>
    @Html.DropDownList("IdPaciente", listadoPaciente, "Seleccionar un Paciente", new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.IdPaciente, "", new { @class = "text-danger" })

    <br />
    <button type="submit" class="btn btn-primary">Agregar Productos</button>
}